aiohappyeyeballs
aiohttp
aiosignal
annotated-doc
annotated-types
anyio
attrs
blis
catalogue
certifi
charset-normalizer
click
cloudpathlib
confection
cymem
datasets
dill
distro
docstring_parser
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
Faker
fastapi
fastcoref
filelock
frozenlist
fsspec
h11
hf-xet
httpcore
httpx
huggingface_hub
idna
instructor
Jinja2
jiter
joblib
jsonpatch
jsonpointer
langchain-core
langchain-protocol
langchain-text-splitters
langsmith
markdown-it-py
MarkupSafe
mdurl
mpmath
multidict
multiprocess
murmurhash
narwhals
neo4j
networkx
numpy
ollama
openai
orjson
packaging
pandas
pandas-stubs
preshed
propcache
pyarrow
pydantic
pydantic_core
Pygments
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
regex
requests
requests-toolbelt
rich
safetensors
scikit-learn
scipy
setuptools
shellingham
six
smart_open
sniffio
spacy
spacy-legacy
spacy-loggers
srsly
starlette
sympy
tenacity
thinc
threadpoolctl
tokenizers
torch
tqdm
transformers
typer
typing-inspection
typing_extensions
urllib3
uuid_utils
uvicorn
wasabi
weasel
websockets
wrapt
xxhash
yarl
zstandard
